/**
*
*    Imagik Responsive CSS3 Slideshow
*    version 1.0.0
*    https://github.com/foo123/Imagik
*
**/
/* public classes */
.imagik-prev
{
    position:absolute;
    width:60px;
    height:60px;
    display:block;
    background:rgba(255,255,255,0.6) url("./prev.png") no-repeat center center;
    background-size:cover;
    border-radius:50%;
    overflow:hidden;
    top:50%;
    left:-60px;
    margin-top:-30px;
    z-index:5;
    cursor:pointer;
    transition:all 0.2s ease-out;
}
.imagik-next
{
    position:absolute;
    width:60px;
    height:60px;
    display:block;
    background:rgba(255,255,255,0.6) url("./next.png") no-repeat center center;
    background-size:cover;
    border-radius:50%;
    overflow:hidden;
    top:50%;
    right:-60px;
    margin-top:-30px;
    z-index:5;
    cursor:pointer;
    transition:all 0.2s ease-out;
}
.imagik-holder:focus .imagik-prev,
.imagik-holder:active .imagik-prev,
.imagik-holder:hover .imagik-prev
{
    left:0;
    transition:all 0.2s ease-out;
}
.imagik-holder:focus .imagik-next,
.imagik-holder:active .imagik-next,
.imagik-holder:hover .imagik-next
{
    right:0;
    transition:all 0.2s ease-out;
}
.paused .imagik-prev,
.paused .imagik-next
{
    display:none;
}
.imagik-play-pause
{
    position:absolute;
    width:180px;
    height:180px;
    display:block;
    background:rgba(255,255,255,0.5) url("./play.png") no-repeat center center;
    background-size:cover;
    border-radius:50%;
    overflow:hidden;
    top:50%;
    left:50%;
    margin-top:-90px;
    margin-left:-90px;
    z-index:5;
    opacity:0;
    transform:scale(0);
    transition:all 0.4s cubic-bezier(0.600, -0.280, 0.735, 0.045);
    cursor:pointer;
    pointer-events:none;
}
.paused .imagik-play-pause
{
    background-image:url("./pause.png");
    opacity:1;
    transform:scale(1);
    transition:all 0.4s cubic-bezier(0.175, 0.885, 0.320, 1.275);
}
.imagik-caption
{
    text-align:left;
    background:rgba(34, 34, 34, .7);
    color:#fefefe;
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
    padding:20px;
    font-size:12px;
    font-family:helvetica,sans-serif;
    z-index:4;
    display:block;
    transform:translate3d(0, 100%, 0);
    transition:transform 0.2s ease-out;
    pointer-events:none;
}
.imagik-caption.show
{
    transform:translate3d(0, 0, 0);
    transition:transform 0.4s ease-out;
}

/* private classes */
.imagik-holder
{
    position:relative;
    overflow:hidden !important;
    margin:0 !important;
    padding:0 !important;
    border:0 !important;
    box-sizing:border-box;
    display:block;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:#000;
    cursor:pointer;
}
.imagik-image-layer
{
    position:absolute !important;
    margin:0 !important;
    padding:0 !important;
    border:0 !important;
    display:block;
    box-sizing:border-box;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:transparent none no-repeat 0 0;
}
.imagik-animation-layer
{
    position:absolute !important;
    margin:0 !important;
    padding:0 !important;
    border:0 !important;
    display:block;
    box-sizing:border-box;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:none;
    perspective:2000px;
    perspective-origin:center;
    transform-style:preserve-3d;
    pointer-events:none;
}
.imagik-tile-wrapper
{
    position:absolute !important;
    margin:0 !important;
    padding:0 !important;
    border:0 !important;
    display:block;
    box-sizing:border-box;
    top:0%;
    left:0%;
    width:100%;
    height:100%;
    background:none;
    overflow:visible;
    backface-visibility:visible;
    transform-style:preserve-3d;
    transform-origin:center center;
    transform:translate3d(0,0,0); /* enable hardware acceleration */
}
.imagik-tile
{
    position:absolute !important;
    margin:0 !important;
    padding:0 !important;
    border:0 !important;
    display:block;
    overflow:hidden;
    backface-visibility:hidden;
    box-sizing:border-box;
    top:0%;
    left:0%;
    width:100%;
    height:100%;
    background:none;
    transform-origin:center center;
    transform:translate3d(0,0,0); /* enable hardware acceleration */
}
.imagik-tile-inside
{
    position:absolute !important;
    margin:0 !important;
    padding:0 !important;
    border:0 !important;
    overflow:hidden !important;
    display:block;
    box-sizing:border-box;
    top:0%;
    left:0%;
    width:100%;
    height:100%;
    background-color:transparent;
    background-image:none;
    background-repeat:no-repeat;
    background-position:0 0;
    background-size:100% auto;
}

/* fx */
.imagik-webkit .imagik-animation-layer.imagik-fx-flip-horizontal .imagik-tile,
.imagik-webkit .imagik-animation-layer.imagik-fx-flip-vertical .imagik-tile
{
    backface-visibility:visible; /* needed to fix a bug in webkit (Chrome/Opera) that makes flip of 100% disappear and not render */
}
.imagik-animation-layer.imagik-fx-cubes-left .imagik-tile-wrapper
{
    transform-origin:0 center;
}
.imagik-animation-layer.imagik-fx-cubes-left .imagik-tile-current
{
    transform-origin:0 center;
    transform:translate3d(0,0,0) rotateY(0deg);
}
.imagik-animation-layer.imagik-fx-cubes-left .imagik-tile-next
{
    transform-origin:0 center;
    transform:translate3d(100%,0,0) rotateY(90deg);
}
.imagik-animation-layer.imagik-fx-cubes-right .imagik-tile-wrapper
{
    transform-origin:100% center;
}
.imagik-animation-layer.imagik-fx-cubes-right .imagik-tile-current
{
    transform-origin:0 center;
    transform:translate3d(0,0,0) rotateY(0deg);
}
.imagik-animation-layer.imagik-fx-cubes-right .imagik-tile-next
{
    transform-origin:100% center;
    transform:translate3d(-100%,0,0) rotateY(-90deg);
}
.imagik-animation-layer.imagik-fx-cubes-up .imagik-tile-wrapper
{
    transform-origin:center 0 0;
}
.imagik-animation-layer.imagik-fx-cubes-up .imagik-tile-current
{
    transform-origin:center 0;
    transform:translate3d(0,0,0) rotateX(0deg);
}
.imagik-animation-layer.imagik-fx-cubes-up .imagik-tile-next
{
    transform-origin:center 0;
    transform:translate3d(0,100%,0) rotateX(-90deg);
}
.imagik-animation-layer.imagik-fx-cubes-down .imagik-tile-wrapper
{
    transform-origin:center 100% 0;
}
.imagik-animation-layer.imagik-fx-cubes-down .imagik-tile-current
{
    transform-origin:center 0;
    transform:translate3d(0,0,0) rotateX(0deg);
}
.imagik-animation-layer.imagik-fx-cubes-down .imagik-tile-next
{
    transform-origin:center 100%;
    transform:translate3d(0,-100%,0) rotateX(90deg);
}
.imagik-animation-layer.imagik-fx-fold-left .imagik-tile-wrapper
{
    transform-origin:100% center;
}
.imagik-animation-layer.imagik-fx-fold-right .imagik-tile-wrapper
{
    transform-origin:0 center;
}
.imagik-animation-layer.imagik-fx-flip-horizontal .imagik-tile-wrapper
{
    transform-origin:center center;
}
.imagik-animation-layer.imagik-fx-flip-horizontal .imagik-tile-current
{
    transform:rotateY(0deg);
}
.imagik-animation-layer.imagik-fx-flip-horizontal .imagik-tile-next
{
    transform:rotateY(-180deg);
}
.imagik-animation-layer.imagik-fx-flip-vertical .imagik-tile-wrapper
{
    transform-origin:center center;
}
.imagik-animation-layer.imagik-fx-flip-vertical .imagik-tile-current
{
    transform:rotateX(0deg);
}
.imagik-animation-layer.imagik-fx-flip-vertical .imagik-tile-next
{
    transform:rotateX(180deg);
}
.imagik-animation-layer.imagik-fx-pan-top-left .imagik-tile-current
{
    transform:translate3d(0,0,0);
}
.imagik-animation-layer.imagik-fx-pan-top-left .imagik-tile-next
{
    transform:translate3d(100%,100%,0);
}
.imagik-animation-layer.imagik-fx-pan-top-right .imagik-tile-current
{
    transform:translate3d(0,0,0);
}
.imagik-animation-layer.imagik-fx-pan-top-right .imagik-tile-next
{
    transform:translate3d(-100%,100%,0);
}
.imagik-animation-layer.imagik-fx-pan-bottom-right .imagik-tile-current
{
    transform:translate3d(0,0,0);
}
.imagik-animation-layer.imagik-fx-pan-bottom-right .imagik-tile-next
{
    transform:translate3d(-100%,-100%,0);
}
.imagik-animation-layer.imagik-fx-pan-bottom-left .imagik-tile-current
{
    transform:translate3d(0,0,0);
}
.imagik-animation-layer.imagik-fx-pan-bottom-left .imagik-tile-next
{
    transform:translate3d(100%,-100%,0);
}
.imagik-animation-layer.imagik-fx-pan-left .imagik-tile-current
{
    transform:translate3d(0,0,0);
}
.imagik-animation-layer.imagik-fx-pan-left .imagik-tile-next
{
    transform:translate3d(100%,0,0);
}
.imagik-animation-layer.imagik-fx-pan-right .imagik-tile-current
{
    transform:translate3d(0,0,0);
}
.imagik-animation-layer.imagik-fx-pan-right .imagik-tile-next
{
    transform:translate3d(-100%,0,0);
}
.imagik-animation-layer.imagik-fx-pan-top .imagik-tile-current
{
    transform:translate3d(0,0,0);
}
.imagik-animation-layer.imagik-fx-pan-top .imagik-tile-next
{
    transform:translate3d(0,100%,0);
}
.imagik-animation-layer.imagik-fx-pan-bottom .imagik-tile-current
{
    transform:translate3d(0,0,0);
}
.imagik-animation-layer.imagik-fx-pan-bottom .imagik-tile-next
{
    transform:translate3d(0,-100%,0);
}
.imagik-animation-layer.imagik-fx-fade-zoom .imagik-tile-current,
.imagik-animation-layer.imagik-fx-fade-zoom .imagik-tile-next
{
    transform-origin:0 0;
}
@keyframes imagik-animation-iris {
    from{
        background-position:center center;
        width:0%;
        height:0%;
        top:50%;
        left:50%;
    }
    to{
        background-position:center center;
        width:100%;
        height:100%;
        top:0%;
        left:0%;
    }
}
@keyframes imagik-animation-fade {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@keyframes imagik-animation-fade-zoom {
    from{
        opacity:1;
        transform:scale(1);
    }
    to{
        opacity:0;
        transform:scale(1.2);
    }
}
@keyframes imagik-animation-brightness {
    0%{
        filter:brightness(100%) opacity(100%);
    }
    75%{
        filter:brightness(1000%) opacity(100%);
    }
    100%{
        filter:brightness(1000%) opacity(0%);
    }
}
@keyframes imagik-animation-move-down {
    from{
        transform:translate3d(0,-100%,0);
    }
    to{
        transform:translate3d(0,0,0);
    }
}
@keyframes imagik-animation-move-up {
    from{
        transform:translate3d(0,100%,0);
    }
    to{
        transform:translate3d(0,0,0);
    }
}
@keyframes imagik-animation-move-right {
    from{
        transform:translate3d(-100%,0,0);
    }
    to{
        transform:translate3d(0,0,0);
    }
}
@keyframes imagik-animation-move-left {
    from{
        transform:translate3d(100%,0,0);
    }
    to{
        transform:translate3d(0,0,0);
    }
}
@keyframes imagik-animation-move-fade-down {
    from{
        opacity: 0;
        transform:translate3d(0,-100%,0);
    }
    to{
        opacity: 1;
        transform:translate3d(0,0,0);
    }
}
@keyframes imagik-animation-move-fade-up {
    from{
        opacity: 0;
        transform:translate3d(0,100%,0);
    }
    to{
        opacity: 1;
        transform:translate3d(0,0,0);
    }
}
@keyframes imagik-animation-move-fade-right {
    from{
        opacity: 0;
        transform:translate3d(-100%,0,0);
    }
    to{
        opacity: 1;
        transform:translate3d(0,0,0);
    }
}
@keyframes imagik-animation-move-fade-left {
    from{
        opacity: 0;
        transform:translate3d(100%,0,0);
    }
    to{
        opacity: 1;
        transform:translate3d(0,0,0);
    }
}
@keyframes imagik-animation-grow {
    from{
        transform:scale(0);
    }
    to{
        transform:scale(1);
    }
}
@keyframes imagik-animation-grow-horizontal {
    from{
        width:0%;
    }
    to{
        width:100%;
    }
}
@keyframes imagik-animation-grow-vertical {
    from{
        height:0%;
    }
    to{
        height:100%;
    }
}
@keyframes imagik-animation-fade-grow {
    from{
        opacity:0;
        transform:scale(0);
    }
    to{
        opacity:1;
        transform:scale(1);
    }
}
@keyframes imagik-animation-fade-grow-horizontal {
    from{
        opacity:0;
        width:0%;
    }
    to{
        opacity:1;
        width:100%;
    }
}
@keyframes imagik-animation-fade-grow-vertical {
    from{
        opacity:0;
        height:0%;
    }
    to{
        opacity:1;
        height:100%;
    }
}
@keyframes imagik-animation-fly-top-left {
    from{
        transform:translate3d(100%,100%,0);
    }
    to{
        transform:translate3d(0,0,0);
    }
}
@keyframes imagik-animation-fly-bottom-left {
    from{
        transform:translate3d(100%,-100%,0);
    }
    to{
        transform:translate3d(0,0,0);
    }
}
@keyframes imagik-animation-fly-top-right {
    from{
        transform:translate3d(-100%,100%,0);
    }
    to{
        transform:translate3d(0,0,0);
    }
}
@keyframes imagik-animation-fly-bottom-right {
    from{
        transform:translate3d(-100%,-100%,0);
    }
    to{
        transform:translate3d(0,0,0);
    }
}
@keyframes imagik-animation-fly-top {
    from{
        transform:translate3d(0,100%,0);
    }
    to{
        transform:translate3d(0,0,0);
    }
}
@keyframes imagik-animation-fly-bottom {
    from{
        transform:translate3d(0,-100%,0);
    }
    to{
        transform:translate3d(0,0,0);
    }
}
@keyframes imagik-animation-fly-left {
    from{
        transform:translate3d(100%,0,0);
    }
    to{
        transform:translate3d(0,0,0);
    }
}
@keyframes imagik-animation-fly-right {
    from{
        transform:translate3d(-100%,0,0);
    }
    to{
        transform:translate3d(0,0,0);
    }
}
@keyframes imagik-animation-pan-top-left {
    from{
        transform:translate3d(0,0,0);
    }
    to{
        transform:translate3d(-100%,-100%,0);
    }
}
@keyframes imagik-animation-pan-top-right {
    from{
        transform:translate3d(0,0,0);
    }
    to{
        transform:translate3d(100%,-100%,0);
    }
}
@keyframes imagik-animation-pan-bottom-right {
    from{
        transform:translate3d(0,0,0);
    }
    to{
        transform:translate3d(100%,100%,0);
    }
}
@keyframes imagik-animation-pan-bottom-left {
    from{
        transform:translate3d(0,0,0);
    }
    to{
        transform:translate3d(-100%,100%,0);
    }
}
@keyframes imagik-animation-pan-left {
    from{
        transform:translate3d(0,0,0);
    }
    to{
        transform:translate3d(-100%,0,0);
    }
}
@keyframes imagik-animation-pan-right {
    from{
        transform:translate3d(0,0,0);
    }
    to{
        transform:translate3d(100%,0,0);
    }
}
@keyframes imagik-animation-pan-top {
    from{
        transform:translate3d(0,0,0);
    }
    to{
        transform:translate3d(0,-100%,0);
    }
}
@keyframes imagik-animation-pan-bottom {
    from{
        transform:translate3d(0,0,0);
    }
    to{
        transform:translate3d(0,100%,0);
    }
}
@keyframes imagik-animation-rotate {
    from{
        transform:rotate(720deg) scale(0);
    }
    to{
        transform:rotate(0deg) scale(1);
    }
}
@keyframes imagik-animation-flip-horizontal {
    from{
        transform:rotateY(0deg);
    }
    to{
        transform:rotateY(180deg);
    }
}
@keyframes imagik-animation-flip-vertical {
    from{
        transform:rotateX(0deg);
    }
    to{
        transform:rotateX(-180deg);
    }
}
