/**
*
*    Imagik Responsive CSS3 Slideshow
*    version 1.0.0
*    https://github.com/foo123/Imagik
*
**/
/* public classes */
.imagik-controls
{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 10;
}
.imagik-controls .bullets
{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 70%;
}
.imagik-controls .bullet
{
    width: 10px;
    height: 10px;
    margin: 3px;
    border: 1px solid transparent;
    border-radius: 50%;
    background-image: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(100,100,100,0.9) 100%);
    display: inline-block;
}
.imagik-controls .bullet:hover
{
    border: 1px solid rgba(255,255,255,0.7);
}
.imagik-controls .active
{
    border: 1px solid rgb(255,255,255);
    background-image: radial-gradient(circle, rgba(120,120,120,1) 0%, rgba(180,180,180,0.9) 100%);
}
.imagik-controls .controls
{
    position: absolute;
    right: 0px;
    top: 0px;
    width: 120px;
}
.imagik-controls .prev
{
    position: relative;
    width: 30px;
    height: 30px;
    display: inline-block;
    margin: 5px;
    background: transparent url("./controls.png") no-repeat 0 -90px;
    overflow: hidden;
}
.imagik-controls .next
{
    position: relative;
    width: 30px;
    height: 30px;
    display: inline-block;
    margin: 5px;
    background: transparent url("./controls.png") no-repeat 0 -60px;
    overflow: hidden;
}
.imagik-controls .play-pause
{
    position: relative;
    width: 30px;
    height: 30px;
    display: inline-block;
    margin: 5px;
    background: transparent url("./controls.png") no-repeat 0 0;
    overflow: hidden;
}
.imagik-controls .play-pause.paused
{
    background-position: 0px -30px;
}
.imagik-caption
{
    text-align: left;
    background: rgba(34, 34, 34, .7);
    color: #fefefe;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    font-size: 12px;
    font-family: helvetica,sans-serif;
    z-index: 4;
    display: block;
    transform: translate3d(0, 100%, 0);
    transition: transform 0.2s ease-out;
}
.imagik-caption.show
{
    transform: translate3d(0, 0, 0);
    transition: transform 0.4s ease-out;
}

/* private classes */
.imagik-holder
{
    position:relative;
    overflow:hidden;
    margin:0 !important;
    padding:0 !important;
    border:0 !important;
    display:block;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:#000;
}
.imagik-image-layer
{
    position:absolute !important;
    margin:0 !important;
    padding:0 !important;
    border:0 !important;
    display:block;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:transparent none no-repeat 0 0;
}
.imagik-animation-layer
{
    position:absolute !important;
    margin:0 !important;
    padding:0 !important;
    border:0 !important;
    display: block;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:none;
    perspective:1024px !important;
    perspective-origin:center !important;
    transform-style:preserve-3d;
}
.imagik-tile-wrapper
{
    position:absolute !important;
    margin:0 !important;
    padding:0 !important;
    border:0 !important;
    display:block;
    top:0%;
    left:0%;
    width:100%;
    height:100%;
    background:none;
    overflow:visible !important;
    backface-visibility:visible !important;
    transform-style:preserve-3d;
    transform-origin:center center;
}
.imagik-tile
{
    position:absolute !important;
    margin:0 !important;
    padding:0 !important;
    border:0 !important;
    display:block;
    top:0%;
    left:0%;
    width:100%;
    height:100%;
    background:none;
    transform-origin:center center;
    overflow:hidden !important;
    backface-visibility:hidden !important;
}
.imagik-tile-inside
{
    position:absolute !important;
    margin:0 !important;
    padding:0 !important;
    border:0 !important;
    overflow:hidden !important;
    display:block;
    top:0%;
    left:0%;
    width:100%;
    height:100%;
    background-color:transparent;
    background-image:none;
    background-repeat:no-repeat;
    background-position:0 0;
    background-size:100% auto;
}

/* fx */
.imagik-animation-layer.imagik-fx-fold-left .imagik-tile-wrapper
{
    transform-origin:100% center;
}
.imagik-animation-layer.imagik-fx-fold-right .imagik-tile-wrapper
{
    transform-origin:0 center;
}
.imagik-animation-layer.imagik-fx-flip-vertical .imagik-tile-current
{
    transform:rotateX(0deg);
}
.imagik-animation-layer.imagik-fx-flip-vertical .imagik-tile-next
{
    transform:rotateX(180deg);
}
.imagik-animation-layer.imagik-fx-flip-horizontal .imagik-tile-current
{
    transform:rotateY(0deg);
}
.imagik-animation-layer.imagik-fx-flip-horizontal .imagik-tile-next
{
    transform:rotateY(-180deg);
}
.imagik-animation-layer.imagik-fx-fold-left .imagik-tile-current
{
    transform-origin: 0 center;
    transform: rotateY(0deg) translate3d(0,0,-100%);
}
.imagik-animation-layer.imagik-fx-fold-left .imagik-tile-next
{
    transform-origin: 100% center;
    transform: rotateY(-90deg) translate3d(0,0,0);
}
.imagik-animation-layer.imagik-fx-fold-right .imagik-tile-current
{
    transform-origin: 0 center;
    transform: rotateY(0deg) translate3d(0,0,-100%);
}
.imagik-animation-layer.imagik-fx-fold-right .imagik-tile-next
{
    transform-origin: 0 center;
    transform: rotateY(90deg) translate3d(0,0,0);
}
.imagik-animation-layer.imagik-fx-pan-top-left .imagik-tile-current
{
    transform: translate3d(0,0,0);
}
.imagik-animation-layer.imagik-fx-pan-top-left .imagik-tile-next
{
    transform: translate3d(100%,100%,0);
}
.imagik-animation-layer.imagik-fx-pan-top-right .imagik-tile-current
{
    transform: translate3d(0,0,0);
}
.imagik-animation-layer.imagik-fx-pan-top-right .imagik-tile-next
{
    transform: translate3d(-100%,100%,0);
}
.imagik-animation-layer.imagik-fx-pan-bottom-right .imagik-tile-current
{
    transform: translate3d(0,0,0);
}
.imagik-animation-layer.imagik-fx-pan-bottom-right .imagik-tile-next
{
    transform: translate3d(-100%,-100%,0);
}
.imagik-animation-layer.imagik-fx-pan-bottom-left .imagik-tile-current
{
    transform: translate3d(0,0,0);
}
.imagik-animation-layer.imagik-fx-pan-bottom-left .imagik-tile-next
{
    transform: translate3d(100%,-100%,0);
}
.imagik-animation-layer.imagik-fx-pan-left .imagik-tile-current
{
    transform: translate3d(0,0,0);
}
.imagik-animation-layer.imagik-fx-pan-left .imagik-tile-next
{
    transform: translate3d(100%,0,0);
}
.imagik-animation-layer.imagik-fx-pan-right .imagik-tile-current
{
    transform: translate3d(0,0,0);
}
.imagik-animation-layer.imagik-fx-pan-right .imagik-tile-next
{
    transform: translate3d(-100%,0,0);
}
.imagik-animation-layer.imagik-fx-pan-top .imagik-tile-current
{
    transform: translate3d(0,0,0);
}
.imagik-animation-layer.imagik-fx-pan-top .imagik-tile-next
{
    transform: translate3d(0,100%,0);
}
.imagik-animation-layer.imagik-fx-pan-bottom .imagik-tile-current
{
    transform: translate3d(0,0,0);
}
.imagik-animation-layer.imagik-fx-pan-bottom .imagik-tile-next
{
    transform: translate3d(0,-100%,0);
}
@keyframes imagik-animation-iris {
    from{
        background-position:center center;
        width:0%;
        height:0%;
        top:50%;
        left:50%;
    }
    to{
        background-position:center center;
        width:100%;
        height:100%;
        top:0%;
        left:0%;
    }
}
@keyframes imagik-animation-fade {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@keyframes imagik-animation-fade-zoom {
    from{
        opacity:1;
        background-position:0 0;
        background-size:100%;
    }
    to{
        opacity:0;
        background-position:0 0;
        background-size:120%;
    }
}
@keyframes imagik-animation-move-down {
    from{
        transform:translate3d(0,-100%,0);
    }
    to{
        transform:translate3d(0,0,0);
    }
}
@keyframes imagik-animation-move-up {
    from{
        transform:translate3d(0,100%,0);
    }
    to{
        transform:translate3d(0,0,0);
    }
}
@keyframes imagik-animation-move-right {
    from{
        transform:translate3d(-100%,0,0);
    }
    to{
        transform:translate3d(0,0,0);
    }
}
@keyframes imagik-animation-move-left {
    from{
        transform:translate3d(100%,0,0);
    }
    to{
        transform:translate3d(0,0,0);
    }
}
@keyframes imagik-animation-move-fade-down {
    from{
        opacity: 0;
        transform:translate3d(0,-100%,0);
    }
    to{
        opacity: 1;
        transform:translate3d(0,0,0);
    }
}
@keyframes imagik-animation-move-fade-up {
    from{
        opacity: 0;
        transform:translate3d(0,100%,0);
    }
    to{
        opacity: 1;
        transform:translate3d(0,0,0);
    }
}
@keyframes imagik-animation-move-fade-right {
    from{
        opacity: 0;
        transform:translate3d(-100%,0,0);
    }
    to{
        opacity: 1;
        transform:translate3d(0,0,0);
    }
}
@keyframes imagik-animation-move-fade-left {
    from{
        opacity: 0;
        transform:translate3d(100%,0,0);
    }
    to{
        opacity: 1;
        transform:translate3d(0,0,0);
    }
}
@keyframes imagik-animation-grow {
    from{
        transform:scale(0);
    }
    to{
        transform:scale(1);
    }
}
@keyframes imagik-animation-grow-horizontal {
    from{
        width:0%;
    }
    to{
        width:100%;
    }
}
@keyframes imagik-animation-grow-vertical {
    from{
        height:0%;
    }
    to{
        height:100%;
    }
}
@keyframes imagik-animation-fade-grow {
    from{
        opacity:0;
        transform:scale(0);
    }
    to{
        opacity:1;
        transform:scale(1);
    }
}
@keyframes imagik-animation-fade-grow-horizontal {
    from{
        opacity:0;
        width:0%;
    }
    to{
        opacity:1;
        width:100%;
    }
}
@keyframes imagik-animation-fade-grow-vertical {
    from{
        opacity:0;
        height:0%;
    }
    to{
        opacity:1;
        height:100%;
    }
}
@keyframes imagik-animation-fly-top-left {
    from{
        transform:translate3d(100%,100%,0);
    }
    to{
        transform:translate3d(0,0,0);
    }
}
@keyframes imagik-animation-fly-bottom-left {
    from{
        transform:translate3d(100%,-100%,0);
    }
    to{
        transform:translate3d(0,0,0);
    }
}
@keyframes imagik-animation-fly-top-right {
    from{
        transform:translate3d(-100%,100%,0);
    }
    to{
        transform:translate3d(0,0,0);
    }
}
@keyframes imagik-animation-fly-bottom-right {
    from{
        transform:translate3d(-100%,-100%,0);
    }
    to{
        transform:translate3d(0,0,0);
    }
}
@keyframes imagik-animation-fly-top {
    from{
        transform:translate3d(0,100%,0);
    }
    to{
        transform:translate3d(0,0,0);
    }
}
@keyframes imagik-animation-fly-bottom {
    from{
        transform:translate3d(0,-100%,0);
    }
    to{
        transform:translate3d(0,0,0);
    }
}
@keyframes imagik-animation-fly-left {
    from{
        transform:translate3d(100%,0,0);
    }
    to{
        transform:translate3d(0,0,0);
    }
}
@keyframes imagik-animation-fly-right {
    from{
        transform:translate3d(-100%,0,0);
    }
    to{
        transform:translate3d(0,0,0);
    }
}
@keyframes imagik-animation-pan-top-left {
    from{
        transform:translate3d(0,0,0);
    }
    to{
        transform:translate3d(-100%,-100%,0);
    }
}
@keyframes imagik-animation-pan-top-right {
    from{
        transform:translate3d(0,0,0);
    }
    to{
        transform:translate3d(100%,-100%,0);
    }
}
@keyframes imagik-animation-pan-bottom-right {
    from{
        transform:translate3d(0,0,0);
    }
    to{
        transform:translate3d(100%,100%,0);
    }
}
@keyframes imagik-animation-pan-bottom-left {
    from{
        transform:translate3d(0,0,0);
    }
    to{
        transform:translate3d(-100%,100%,0);
    }
}
@keyframes imagik-animation-pan-left {
    from{
        transform:translate3d(0,0,0);
    }
    to{
        transform:translate3d(-100%,0,0);
    }
}
@keyframes imagik-animation-pan-right {
    from{
        transform:translate3d(0,0,0);
    }
    to{
        transform:translate3d(100%,0,0);
    }
}
@keyframes imagik-animation-pan-top {
    from{
        transform:translate3d(0,0,0);
    }
    to{
        transform:translate3d(0,-100%,0);
    }
}
@keyframes imagik-animation-pan-bottom {
    from{
        transform:translate3d(0,0,0);
    }
    to{
        transform:translate3d(0,100%,0);
    }
}
@keyframes imagik-animation-rotate {
    from{
        transform:rotate(720deg) scale(0);
    }
    to{
        transform:rotate(0deg) scale(1);
    }
}
@keyframes imagik-animation-flip-horizontal {
    from{
        transform:rotateY(0deg);
    }
    to{
        transform:rotateY(180deg);
    }
}
@keyframes imagik-animation-flip-vertical {
    from{
        transform:rotateX(0deg);
    }
    to{
        transform:rotateX(-180deg);
    }
}
